:root {
    --primary: #FFFFFF;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #115C9E;
    --dark: #0B3C66;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--dark);
    font-size: 16px;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  .title-container {
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .title {
    font-size: 2rem;
    color: var(--primary);
    padding: 0 10px;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  #search-time {
    margin-top: 55px;
  }

  #search {
    width: 100%;
    padding: 3%;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }

  .btn {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    background-color: var(--light-dark);
  }
  
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }

  h4 {
    font-size: 2rem;
    margin: 15px;
  }

  h5 {
    font-size: 1.5rem;
    margin: 15px;
  }

  h6 {
    font-size: 1.3rem;
    margin: 15px;
  }
  
  #past-search-container {
    margin-top: 55px;
  }

  p {
    text-decoration: none;
    width: 100%;
    font-size: 1.5rem;
    padding: 6px;
    display: block;
    margin: 5px 0;
  }

  #future-weather {
    display: inline;
  }
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  
  @media screen and (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
  }
